<% if current_search_session %>
  <% # Rails automatically adds namespaces onto routing, but we don't want that here. %>
  <% current_search_session.query_params[:controller] = "/" + current_search_session.query_params[:controller] %>

  <div class="pull-left tdl-search-widgets">
    <span class="glyphicon glyphicon-arrow-left glyph-left" aria-hidden="true"></span>
    <%= link_back_to_catalog(label: "Back to Search Results", route_set: tufts_models_engine) %>
  </div>
<% end %>
