<!-- comment modal -->

<div class="modal fade" id="comment_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h3>Send Comment<%= ("show" == controller.action_name || "fa_overview" == controller.action_name || "fa_series" == controller.action_name || "audio_transcriptonly" == controller.action_name || "video_transcriptonly" == controller.action_name) ? (@presenter.class.to_s != "Hyrax::UserProfilePresenter" && @presenter.present? ? " about " + @presenter.title[0] : "") : "" %></h3>
      </div>


      <div class="modal-body">

        <form class="comment_form" action="javascript:submitFeedback(<%= raw ("show" == controller.action_name || "fa_overview" == controller.action_name || "fa_series" == controller.action_name || "audio_transcriptonly" == controller.action_name || "video_transcriptonly" == controller.action_name) ? "'#{request.protocol}#{request.host}#{request.fullpath}' " : " '' " %>, '<%= form_authenticity_token %>');">

          <fieldset>

            <div class="control-group">
              <label class="control-label" for="inputComment">Comment</label>

              <div class="col-sm-12">
                <textarea class="form-control" id="inputComment" rows="3"></textarea>
              </div>
            </div>


            <div class="control-group">
              <label for="inputEmail" class="control-label">Email Address</label>

              <div class="col-sm-12">
                <input type="text" placeholder="" id="inputEmail" class="form-control" />

                <p class="help-block"></p>
              </div>
            </div>


            <div class="control-group">
              <label for="inputName" class="control-label">Name</label>

              <div class="col-sm-12">
                <input type="text" placeholder="" id="inputName" class="form-control" />

                <p class="help-block"></p>
              </div>
            </div>

            <div class="pull-right" style="margin-right: 16px">
              <button class="btn btn-primary" type="submit">Send</button>
              <button class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
          </fieldset>
        </form>


      </div>
    </div>
  </div>
</div>
