<% download_links = download_link_info(controller.controller_name) %>
<% unless download_links.empty? %>
  <div class="tdl-search-widgets">
    <ul class="tdl-right-nav">
     <% download_links.each do |link| %>
        <% dl_stuff = link[:label] ? "id='file_download' target='_blank' data-label='#{link[:label]}'".html_safe : '' %>
        <% dl_stuff << (link[:download].present? ? " download='#{link[:download]}'".html_safe : '') %>
      <li>
        <span class="<%= link[:icons] %>" aria-hidden="true"></span>
        <a data-turbolinks="false" href="<%= link[:url] %>" <%= dl_stuff %>><%= link[:text] %></a>
      </li>
     <% end %>
    </ul>
  </div>
<% end %>