<% download_links = download_link_info(controller.controller_name) %>
<% unless download_links.empty? %>
  <div class="tdl-search-widgets">
    <ul class="tdl-right-nav">
     <% download_links.each do |link| %>
        <% is_blank = link[:blank] === false ? "" : 'target="_blank"' %>
      <li>
        <span class="<%= link[:icons] %>" aria-hidden="true"></span>
        <a data-turbolinks="false" href="<%= link[:url] %>" <%= is_blank %>><%= link[:text] %></a>
      </li>
     <% end %>
    </ul>
  </div>
<% end %>