<% provide :page_title, @presenter.page_title %>
<% provide :page_header do %>
  <h2> <%= @presenter %> </h2>
  <%= render partial: "shared/multi_field", locals: {tag_name: :p, field_name: :creator} %>
  <p><%= @presenter.date.first unless @presenter.date.empty? %></p>
<% end %>
