<!-Image Overlay Modal-->
<div class="modal fade modal_650wide modal-level2" tabindex="-1" id="myImageOverlay">  
</div>
<!-Image Gallery Modal-->

<div class="modal modal_fixed_height fade modal_800wide modal-level1" tabindex="-1" id="myImageGallery">
</div>
