<a data-turbolinks='false' href="/concern/images/<%= params[:id] %>"><span class="glyphicon glyphicon-arrow-left"></span> Back to metadata</a>
  <div class="col-sm-12">
               <%= render 'representative_media', presenter: @presenter, viewer: true %>
             </div>