<% file_set = @presenter.solr_document._source["hasRelatedImage_ssim"] %>
<%= render "shared/item_header" %>
<% collector = can?(:collect, @presenter.id) %>
<% editor = can?(:edit, @presenter.id) %>
<div class="col-md-12 tdl-content tdl-show-image">
  <div class="row col-md-6">
      <a href="somewhere" >
        <%= image_tag(Riiif::Engine.routes.url_helpers.image_path(file_set, "400,")) %>
      </a>
  </div>
  <div class="col-md-6">
    <%= render "shared/metadata" %>
  </div>
</div>
