<%
   file_set_id = @presenter.solr_document._source["hasRelatedImage_ssim"] 
   file_set = FileSet.find(file_set_id).first
%>
<%= render "shared/item_header" %>
<% collector = can?(:collect, @presenter.id) %>
<% editor = can?(:edit, @presenter.id) %>
 <div class="col-md-12 tdl-content">
   <div class="row col-md-6 custom-margin-right">
     <%= render 'representative_media', presenter: @presenter, viewer: true %>
  </div>
  <div class="col-md-6">
    <%= render "shared/metadata" %>
  </div>
</div>
