<%-
@page_title = "The Dagomba Dance-Drumming Project"
-%>
<!-- LEFT SIDE/ FOR FLUID COLUMN TITLE ROW -->
<div class="row-fluid">
  <div class="col-md-12">
  </div>

  <!-- nested row LEFT -->
  <div class="row-fluid">

    <div class="col-md-3">
      <%= render :partial => 'pages/menu'%>
    </div>


    <!-- nested Fluid RIGHT -->
    <div class="row">
      <div class="col-md-7">
        <h2><%= @page_title %></h2>
        <p></p>
        <div id="static_thumbnail">
          <ul class="thumbnails ">
            <li class="col-md-3">
              <div class="thumbnail">
                <%= image_tag('featured_collections/drummers-tuhome.jpg') %>
              </div>
            </li>
          </ul>
        </div>

          <p>The <a
          href="http://sites.tufts.edu/dagomba">Dagomba
          Dance-Drumming Project</a> is the result of a
          collaboration between Tufts music professor David Locke
          and the late Alhaji Abubakari Lunna, acclaimed expert
          on Dagomba performing arts and culture. The two
          collaborated to gather recordings, scores, and
          translations of the dance drumming tradition of the <a
          href="http://sites.tufts.edu/dagomba/about-the-dagomba/">Dagomba
          or Dagbamba people of the Dagbon kingdom in
          Ghana</a>.</p>

          <p>The <a
          href="http://sites.tufts.edu/dagomba">Dagomba
          Dance Drumming online exhibit</a> provides valuable
          context and history, or you can dive right into the <a
          href="/catalog?utf8=✓&q=dagomba&search_field=all_fields">digitized audio and scores</a> in the collection.</p>
      </div>
    </div>
  </div>
</div>
