<%-
@page_title = "E-scholarship"
-%>
<!-- LEFT SIDE/ FOR FLUID COLUMN TITLE ROW -->
<div class="row-fluid">
  <div class="col-md-12">
  </div>

  <!-- nested row LEFT -->
  <div class="row-fluid">

    <div class="col-md-3">
      <%= render :partial => 'pages/menu' %>
    </div>


    <!-- nested Fluid RIGHT -->
    <div class="row">
      <div class="col-md-7">
        <h2><%= @page_title %></h2>
        <p></p>
        <div id="static_thumbnail">
          <ul class="thumbnails ">
            <li class="col-md-3">
              <div class="thumbnail">
                <a href="/catalog/tufts:UA015.001.003.00072.00005"><%= image_tag('featured_collections/escholar-tuhome.jpg') %></a>
              </div>
            </li>
          </ul>
        </div>

          <p>The Tufts Digital Library has a growing collection
          of scholarship by faculty, students, and staff.</p>
          <ul>
              <li><a
              href="/catalog?f%5Bmember_of_collections_ssim%5D%5B%5D=Faculty+Scholarship&q=faculty+scholarship&search_field=all_fields">Faculty
              scholarship</a>. Expand the "Names" facet in
              the left-hand navigation for a quick glimpse at the
              faculty who deposited work. </li>
              <li><a
              href="/catalog?q=Tufts+University.+Fletcher+School+of+Law+and+Diplomacy.+Theses+and+Dissertations.&search_field=all_fields">Graduate
              scholarship</a>. This collection is composed of the
              work of students from the <a
              href="http://fletcher.tufts.edu/">Fletcher School
              of Law and Diplomacy</a>, primarily theses from the
              programs <a
              href="/catalog?q=MALD+thesis.&search_field=all_fields">Master
              of Arts in Law and Diplomacy</a> (MALD), <a
              href="/catalog?q=Tufts+University.+Fletcher+School+of+Law+and+Diplomacy+capstones.+LLM.&search_field=all_fields">Master
              of Laws in International Law</a> (LLM), and <a
              href="/catalog?q=Tufts+University.+Fletcher+School+of+Law+and+Diplomacy+capstones.+Masters+of+International+Business.&search_field=all_fields">Master
              of International Business</a> (MIB). </li>
              <li><a
              href="/concern/eads/gh93h873m">Department
              of Education Qualifying Papers</a>. </li>
              <li><a 
              href="/catalog?f%5Bmember_of_collections_ssim%5D%5B%5D=Electronic+Theses+and+Dissertations&q=&search_field=all_fields">Electronic Theses and Dissertations</a>.</li>
              <li><a
              href="/catalog?f%5Bmember_of_collections_ssim%5D%5B%5D=Undergraduate+honors+theses&q=&search_field=all_fields">Undergraduate
              honors theses</a>. This collection is primarily
              composed of undergraduate honors theses.
              Expand the "Subject" facet in the left-hand
              navigation for a glimpse at the departments from
              which these papers originate. </li>
          </ul>
          <p>Many faculty, students, and staff can deposit their
          papers digitally for submission into the digital
          library at the <a
          href="https://dca.lib.tufts.edu/submissions/deposit_submission/">TDL
          deposit form</a>. For all other deposits, including
          capstone projects, dissertations,  manuscripts
          collections, etc., please see the <a
          href="http://sites.tufts.edu/dca/submitting-materials/">DCA
          guide to submitting materials</a>.</p>
      </div>
    </div>
  </div>
</div>
