<%-
  @page_title = "About Us"
-%>
<!-- LEFT SIDE/ FOR FLUID COLUMN TITLE ROW -->
<div class="row">

  <!-- nested row LEFT -->
  <div class="row">

    <div class="col-md-3">
      <%= render :partial => 'pages/menu' %>
    </div>
    <!-- nested Fluid RIGHT -->

    <div class="col-md-6">
      <h2><%= @page_title %></h2>
      <p>The Tufts Digital Library is a collaboration between the Tufts libraries and Educational Technology
        Services (ETS). The Tufts Digital Library supports teaching and research at Tufts University and includes
        digital resources of enduring value created by or for members of the Tufts community.</p>

      <h3>Overview</h3>
      <p>The Tufts Digital Library is a centrally-managed preservation and access system for digital content of
        enduring value created at Tufts and/or by members of the Tufts community, its affiliates, and allied
        organizations. The Tufts Digital Library provides core services including:</p>
      <ul>
        <li>Discovery and Retrival</li>
        <li>Metadata creation and management</li>
        <li>Secure long-term storage and management of digital assets</li>
        <li>Preservation services (in conjunction with our tools and systems).</li>
      </ul>

      <h3>History and Management</h3>
      <p>Since 2003, Digital Collections and Archives (DCA) and Educational Technology Services (a division of
        Tufts Technology Services) have collaborated on the implementation of the Tufts Digital Library.
        Beginning in 2012, Tisch Library began making contributions to the Tufts Digital Library including funding
        for the development of MIRA, a staff administrative interface allowing for metadata creation and management
        and ingest of content.</p>
      <p>Collection policies and criteria for deposit are set by the Fedora Repository Oversight Group (FROG),
        Digital Collections and Archives, and the Tufts libraries. Management of the system’s software, hardware,
        and applications is performed by ETS with financial and staff contributions from DCA and Tisch Library.</p>

      <h3>Technology</h3>
      <p>The TDL is built on FLOSS (Free/Libre Open Source Software). The TDL’s underlying data storage is managed
        with Fedora, a repository system for the management and dissemination of digital content. User and staff
        interfaces were developed using Samvera’s Hyrax, with indexing powered by
        <a href="http://lucene.apache.org/solr/">Solr</a>.</p>
    </div>
    <div id="breadcrumbdivider">&nbsp;</div>
  </div>
</div>