<%-
@page_title = "The Edward R. Murrow Papers, ca 1913-1985"
-%>
<!-- LEFT SIDE/ FOR FLUID COLUMN TITLE ROW -->
<div class="row-fluid">
  <div class="col-md-12">
  </div>

  <!-- nested row LEFT -->
  <div class="row-fluid">

    <div class="col-md-3">
      <%= render :partial => 'pages/menu' %>
    </div>


    <!-- nested Fluid RIGHT -->
    <div class="row">
      <div class="col-md-7">
        <h2><%= @page_title %></h2>
        <p></p>
        <div id="static_thumbnail">
          <ul class="thumbnails ">
            <li class="col-md-3">
              <div class="thumbnail">
                <a href="/concern/eads/cz30q362v"><%= image_tag('featured_collections/murrow-tuhome.jpg') %></a>
              </div>
            </li>
          </ul>
        </div>

        The Edward R. Murrow Papers, ca 1913-1985, housed at the Digital Collections and Archives, Tufts University, is
        the world's largest collection of Edward R. Murrow material. Dating largely from 1934 to 1965, the 55 linear
        feet of documents include correspondence, personal materials, work and activities-related files, and over 320
        photographs. The papers also include about 1700 books, memorabilia as well as audiovisual material.</p>
        <p>
          You can read more about
          Edward R. Murrow at <a href="http://dca.lib.tufts.edu/features/murrow/exhibit/">The Life and Work of Edward R. Murrow: an Archives Exhibit</a>. You can read
          more about both the digitized and non-digitized materials from the collection by reading <a href="/concern/eads/cz30q362v">the finding aid</a>. Or
          you can dive right into the <a href="/catalog?f%5Bmember_of_collections_ssim%5D%5B%5D=Edward+R.+Murrow+papers">digitized materials from the collection</a>, where we have <a href="/catalog?f%5Bobject_type_sim%5D%5B%5D=Images&q=MS025&search_field=all_fields">331 images</a> and <a href="/catalog?f%5Bobject_type_sim%5D%5B%5D=Audio&q=MS025&search_field=all_fields">574 transcribed audio recordings from episodes of <cite>This I
          Believe</cite></a>.</p>

        <p><strong>These digitized recordings of This I Believe were made possible by the generous support of Iron Mountain Entertainment Services and the National Park Service's Save America’s Treasures Grant Program.</strong></p>
        <p>
          For more information, or for access to non-digitized materials, <a href="/contact">contact DCA</a>.</p>
      </div>
    </div>
  </div>
</div>
