<%-
@page_title = "New England Medical Center Records"
-%>
<!-- LEFT SIDE/ FOR FLUID COLUMN TITLE ROW -->
<div class="row-fluid">
  <div class="col-md-12">
  </div>

  <!-- nested row LEFT -->
  <div class="row-fluid">

    <div class="col-md-3">
      <%= render :partial => 'pages/menu' %>
    </div>


    <!-- nested Fluid RIGHT -->
    <div class="row">
      <div class="col-md-7">
        <h2><%= @page_title %></h2>
        <p></p>
        <div id="static_thumbnail">
          <ul class="thumbnails ">
            <li class="col-md-3">
              <div class="thumbnail">
                <a href="#"><%= image_tag('featured_collections/tnemc-homepage.jpg') %></a>
              </div>
            </li>
          </ul>
        </div>

        <p>Tufts Digital Collections and Archives manages the historical records of the New England Medical Center through a partnership with Tufts Medical Center. The New England Medical Center comprised a consortium of hospitals that became the Tufts Medical Center, the primary teaching hospital for the Tufts University School of Medicine.  These collections document the administrative workings of predecessor institutions and umbrella organizations, and include personal papers of physicians. Materials date from 1796 to 2009 and include administrative records, personal papers, photographs, publications, slides and negatives, audiovisual media, sound recordings, and a few artifacts. The collection is open for research with the exception of records containing personally identifiable information (including records protected by HIPAA and FERPA) and administrative records that are less than 20 years old.</p>

        <p>The history of the New England Medical Center dates  to  1796 with the establishment of the Boston Dispensary. In 1930, the Boards for the Boston Dispensary, the Boston Floating Hospital for Infants and Children (established in 1894), and the Tufts College School of Medicine formed the New England Medical Center (NEMC). NEMC functioned as an umbrella organization for these medical institutions before they officially merged in 1965. The organization was then incorporated as the Tufts-New England Medical Center (T-NEMC). It was the primary teaching hospital for the university’s School of Medicine and also encompassed the pediatric Boston Floating Hospital and the New England Center Hospital (founded in 1939 as the Pratt Diagnostic Hospital).</p>

        <p>While individual collections exist for each institution, there was a periodic shifting of departments to and from NEMC/T-NEMC and their constituent institutions. As such, any comprehensive search of a particular topic over time should involve consulting all the NEMC collections.  Additionally, some collections from the Tufts University Archives also documents NEMC activities. These collections are included in the section below.</p>

        <h4>For background information</h4>
      <ul>
        <li><a href="/concern/pdfs/rb68xq24r">Timeline: New England Medical Center (1665-1992)</a></li>
        <li><a href="/concern/pdfs/qv33s790r">Historical Resource Guide: New England Medical Center</a></li>
        <li><a href="/teiviewer/parent/f1881x54h/chapter/T00038">Brief entry for NEMC and TNEMC in Tufts Concise Encyclopedia</a></li>
      </ul>

      <h4>For online photographs</h4>
      <ul>
        <li><a href="/catalog?f%5Bobject_type_sim%5D%5B%5D=Images&q=Boston+Dispensary&search_field=all_fields&utf8=✓">Boston Dispensary</a></li>
        <li><a href="/catalog?f%5Bobject_type_sim%5D%5B%5D=Images&q=Boston+Floating+Hospital&search_field=all_fields&utf8=✓">Boston Floating Hospital</a></li>
        <li><a href="/catalog?f%5Bobject_type_sim%5D%5B%5D=Images&q=New+England+Medical+Center&search_field=all_fields&utf8=✓">NEMC</a></li>
        <li><a href="/catalog?f%5Bobject_type_sim%5D%5B%5D=Images&q=Tufts+New+England+Medical+Center&search_field=all_fields&utf8=%E2%9C%93">T-NEMC</a></li>
        <li><a href="/catalog?f%5Bobject_type_sim%5D%5B%5D=Images&q=Tufts+New+England+Medical+Center+Planning+Office&search_field=all_fields&utf8=%E2%9C%93">Tufts New England Medical Center Planning Office</a></li>
      </ul>

      <h4>For archival records</h4>
      <ul>
        <li><a href="/concern/eads/9w032d64w">Boston Floating Hospital records</a></li>
        <li><a href="/concern/eads/2801ps40x">Boston Dispensary records</a></li>
        <li><a href="/concern/eads/pr76ff70c">Ralph Deterling papers</a></li>
        <li><a href="/concern/eads/4b29bh70s">Samuel Proger papers</a></li>
        <li><a href="/concern/eads/3484zt39r">Pratt Clinic/New England Center Hospital records</a></li>
        <li><a href="/concern/eads/mp48sq277">Tufts-New England Medical Center records</a></li>
        <li><a href="/concern/eads/jw827n601">Bingham Associates Fund records</a></li>
        <li><a href="/concern/eads/6m312068w">New England Medical Center records</a></li>
      </ul>

        <h4>Further help</h4>

        <p>For more information, or for access to non-digitized materials, <a href="/contact">contact DCA</a>.
        </p>
      </div>
    </div>
  </div>
</div>
