<%-
@page_title = "Tufts and Local History"
-%>
<!-- LEFT SIDE/ FOR FLUID COLUMN TITLE ROW -->
<div class="row-fluid">
  <div class="col-md-12">
  </div>

  <!-- nested row LEFT -->
  <div class="row-fluid">

    <div class="col-md-3">
      <%= render :partial => 'pages/menu' %>
    </div>


    <!-- nested Fluid RIGHT -->
    <div class="row">
      <div class="col-md-7">
        <h2><%= @page_title %></h2>
        <p></p>
        <div id="static_thumbnail">
          <ul class="thumbnails ">
            <li class="col-md-3">
              <div class="thumbnail">
                <a href="#"><%= image_tag('featured_collections/aloneintheeast-tuhome.jpg') %></a>
              </div>
            </li>
          </ul>
        </div>
        <p>The DCA has digitized thousands of photographs from the history of the University, resulting in documentation
          of both the University and the surrounding areas. Additionally, other collections of photographs and documents
          supplement our holdings, resulting in a collection of materials invaluable to a researcher of the history of
          Tufts University or of the cities of Boston and Medford. Here are some entry points into our collections.</p>

        <p>The vast majority of our collections are not available online. If you want to research those collections,
          please go to <a href="http://sites.tufts.edu/dca/research-help/">Research Help</a>.</p>
        <h4>Photographs</h4>
        <ul>
          <li><a href="/concern/eads/4f16cd00b">Melville Munro</a> was the University photographer documenting Tufts from World War I through World War II.</li>
          <li><a href="/concern/eads/7h14b0981">Louise Young</a> was the University photographer documenting Tufts from 1947 until 1965.</li> 
          <li><a href="/concern/eads/tx31qt84r">The University Photography department</a> has documented Tufts since 2005</li>
          <li><a href="/concern/eads/gb19fh235">Edwin B. Rollins’ photographs</a> document buildings on the Medford campus.</li>
          <li><a href="/concern/eads/w3763h99x">The P.T. Barnum papers</a> include images of Jumbo and Barnum Hall.</li>
          <li><a href="/concern/eads/6969zb377">Tom Hart's photographs</a> depict campus and student life in the 60s, 70s and 80s.</li>
          <li><a href="/concern/eads/3b591k88c">Jackson College photographs</a> portray Jackson College students, activities, and events.</li>
          <li>The <a href="/concern/eads/vh53x613s">Department of Athletics papers</a> contains photographs that portray games and athletes.</li>
          <li>The <a href="/concern/eads/hm50v309p">Facilities Management papers</a> contains photographs that portray buildings, architectural drawings and construction on the Medford campus.</li>
          <li>The <a href="/concern/eads/x346df55q">Activities and Organizations papers</a> contains photographs that portray Tufts activities and organizations.</li>
          <li><a href="/catalog?utf8=✓&search_field=all_fields&q=%22The+Bostonian+Society%22">The Bostonian Society photographs</a> document the city of Boston.</li>
          <li><a href="/concern/eads/9w032d655">Photographs from <cite>The Jumbo</cite></a> features images from the Centennial supplement to the Tufts undergraduate yearbook, published in 1952.</li>
          <li><a href="/concern/eads/t148ft30b">The MacJannett papers</a> house 725 photographs from the MacJannett family pictures, which include images from the Tufts campus at Talloires.</li>
          <li><a href="/concern/eads/9s161h313">The Pen, Paint, and Pretzels photographs</a> show images from University dramatic productions.</li>
          <li>Hundreds of <a href="/concern/eads/m900p529p">photographs from the archives of the Tufts Daily</a> are available online</li>
        </ul>
        <h4>Periodicals</h4>

        <p>DCA collects all Tufts periodicals. Many of them have been digitized, and some of the digital periodicals are
          sampled here.</p>
        <ul>
          <li><a href="/concern/eads/m900p529p"><cite>The Tufts Daily</cite></a> is available online from 1980 to 2009.</li>
          <li><a href="/concern/eads/6395wj47q"><cite>Outbreath</cite></a>, a literary magazine, has digitized copies from 2008 on.</li>
          <li>Over 45 years worth of the medical school's yearbook, <a href="/concern/eads/d791ss604"><cite>Caduceus</cite></a>, have been made available online.</li>

        </ul>
        <h4>Other documents</h4>
        <ul>
          <li>The online-only <a href="/concern/teis/f1881x54h"><cite>Concise Encyclopedia of Tufts History</cite></a> tells you about the history of Tufts, its traditions, events, buildings, and people. If there is no entry on the topic you’re researching, please <a href="/contact">let us know</a>. </li>
          <li>In <a href="/concern/teis/9c67wz173"><cite>Light on the Hill: A History of Tufts College, Volume I</cite> and <cite>Volume II</cite></a>, Russell Miller, Tufts’ first University Historian, chronicles the history of Tufts from its founding through the mid-1980s.  </li>
          <li>
            <a href="/concern/teis/37720q148"><cite>High on the Hill</cite></a>, a pamphlet-style publication by the Alumni Council, presents Tufts traditions and lore through a tour of its Medford campus. </li>
          <li>Check out <a href="http://wayback.archive.org/web/*/http://tufts.edu">historic snapshots of the Tufts Homepage since 1997</a>, courtesy of Internet Archive, Wayback Machine. </li>
          <!-- <li>DCA is building <a href="#">a comprehensive history of Tufts people and offices</a>.</li> -->
        </ul>
        <h4>Further help</h4>

        <p>For more information, or for access to non-digitized materials,<a href="/contact"> contact DCA</a>.
        </p>
      </div>
    </div>
  </div>
</div>
