<h2 class="featured_collections_header">Featured Collections</h2>
<div class="featured_collections container">
<% count = 0 %>
<% featured_collections&.each do |c| %>
  <% if [0,3,6,9].include?(count) %>
    <div class="row g-10">
  <% end %>
      <div class="featured_collection col-md-4">

        <a href="<%=c[:link] %>">
          <%= image_tag("featured_collections/#{c[:image]}", alt: c[:alt]) %>
          <div class="collection_title"><%=c[:title]%></div>
        </a>
      </div>
  <% if [2,5,8,11].include?(count) %>
    </div>
  <% end %>
  <% count += 1 %>
<% end %>
</div>