  <h2>
    <%= link_to document.title_or_label, document %>
    <% if document.visibility == "authenticated" %>
      <% if user_signed_in? %>
        <img src="<%= asset_path('tuftsicon_lock_open.svg') %>" class="tuftsicon_lock_open"></span>
      <% else %>
        <span class="glyphicon glyphicon-lock"></span>
      <% end %>
    <% end %>
  </h2>
