<div class="span9">
  <h2 id="welcome_header">Welcome to the digital library!</h2>
  <p>
    The Tufts Digital Library is a place to explore and discover Tufts' research, teaching, and unique collections online. Available collections include faculty and student scholarship, archival, manuscript, and photograph collections, oral histories, student and university publications, and more. Explore using the links below.
  </p>
  <p>
    The majority of items in the Tufts Digital Library are open to all, but a small amount is restricted to the Tufts community.  Restricted items are identified by a blue lock symbol (<i class="fa fa-lock permissions-lock" aria-hidden="true"></i>) next to the title in the search results.  You will be prompted for your Tufts username and password when accessing a restricted item in the Tufts Digital Library.
  </p>
  <p>
    Please visit our Tufts Archives and Special Collections Research account system <a href="https://tascr.tufts.edu/">(TASCR)</a> to create a research account and for more information about requesting copies or material for use in the Archives Reading Room.
  </p>
</div>
