<% provide :page_title, application_name %>

<div class="main_content_area">
  <p class="homepage-text">Explore Tufts faculty & student scholarship, student and university publications, digitized books, Tufts University history, archival collections, photographs, and much more.</p>
  <%= render '/catalog/homepage-searchbar' %>
  <%= render :partial => "featured_collections" %>
</div>