<% provide :page_title, application_name %>

<div class="col-xs-12 main_content_area">
  <!-- nested row LEFT -->
    <div class="col-md-3">
        <%= render 'search_sidebar' %>
    </div>
    <!-- nested Fluid RIGHT -->

    <div class="row-fluid">

      <!-- MAIN CONTENT AREA -->
      <div class="col-md-9 offset3">
        <%= render :partial => "tdl_welcome" %>

        <div class="span9">
          <%= render :partial => "featured_collections" %>
        </div>
        <div class="pull-right">
         <!--
          <a href="#"><h5>View more featured exhibits and collections <i class="icon-arrow-right margintoparrow"> </i></h5></a>
         -->
        </div>


      </div>


  </div>
</div>

<div class="row home-content">

</div>
