@import "settings";

/* ------------------------
 *  BODY / GENERAL LAYOUT
 * ------------------------ */

body {
  margin: 0; /* Removing hyrax's weird padding at the bottom of every page. */
}

/* https://www.nomensa.com/blog/how-improve-web-accessibility-hiding-elements */
.only-for-screen-readers {
  border: 0;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Fixing weird dashboard padding */
body.dashboard {
  padding: 0;
  background-color: #fff;
}

/* ------------------------
 *  TYPOGRAPHY
 * ------------------------ */

@font-face {
  font-family: "Meta Serif";
  src: font-url("b95879a4-6677-40bf-9528-ffecf9b247e4.eot?#iefix");
  src: font-url("b95879a4-6677-40bf-9528-ffecf9b247e4.eot?#iefix") format("eot"),
  font-url("540baff3-1dae-4349-b607-d71e6a8d5a3e.woff2") format("woff2"),
  font-url("329d96cf-0721-417a-9888-cc6b095163c3.woff") format("woff"),
  font-url("c46c5707-21ab-4331-99d5-197ac889ffc7.ttf") format("truetype");
}

/* Not used as far as I can tell */
h1 {
  color: #DE6020;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 1em;
}

h2 {
  color: #DE6020;
  font-size: 16px;
  line-height: 24px;
  margin: 2em 0 1em 0;
}

/* Not used as far as I can tell */
h3 {
  color: #0755AC;
  font-size: 18px;
  line-height: 24px;
  margin-top: 1em;
}

h6 {
    font-size: 11px;
    text-transform: uppercase;
}

.glyph-left {
  margin-left: 3px;
  margin-right: 3px;
}

.glyph-right {
  margin-left: 3px;
  margin-right: 3px;
}


/* ------------------------
 *  HEADER / NAV
 * ------------------------ */
header {
  background-color: $tufts_blue;
  box-sizing: border-box;
  min-height: 65px;
  padding: 0 50px;

  .no-underline {
    text-decoration: none;
  }
}

.masthead-wrapper {
  display: block;
  padding: 7px 0 10px 0;
}

.masthead-logo {
  width: 400px;
  height: 50px;
  background: transparent asset-url($logo_image) bottom 7px left no-repeat;

  .logo-text {
    margin-left: 108px;
    color: white;
    font-weight: bold;
    font-size: 35px;
    font-family: "Meta Serif", serif;
    opacity: 0.92;
  }
}

header nav {
  float: right;
  margin-right: .5em;
}

.masthead-nav {
  ul {
    list-style: none;
    margin: 0;

    li {
      float: right;
      margin-left: 14px;
    }
  }

  a {
    color: white;
  }

  &.lower li {
    margin-top: 1.5em;
    margin-right: .25em;
    font-size: 1.10em;
    text-transform: uppercase;
  }

  &.upper li {
    font-size: .95em;
    margin-right: .15em;
  }
}

.banner-image {
  width: 100%;
  height: auto;
  max-height: 300px;
}

/* General styls for all the right-side navs */
.tdl-right-nav {
  list-style-type: none;

  li {
    float: right;
    margin-left: 14px;
  } }


/* ------------------------
 *  SEARCH BAR
 * ------------------------ */
#search_link {
  text-align: left;
  flex-basis: 20%;
  margin-left: 15px;
  margin-top: 1.2em;
}

#searchbar-parent {
  display: flex;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.navbar-center {
  flex-basis: 80%;
}

#tufts-searchbar-wrapper {
  background-color: #eeeeee;
  border-bottom: 1px solid #E5E5E5;
}

.search-query-form {
  margin-top: 0;
}

.tdl-search-widgets {
  padding: 7px 0;
  line-height: 16px;
}

/* Evens out weird Hyrax margins above and below search box */
#search-form-header {
  margin-top: 10px;
}

#search-form-header input[type='text'] {
  min-width: 120px;
}

@media (max-width: 768px) {
  #searchbar-parent {
    width: 90%;
  } }

@media (max-width: 430px) {
  #content-wrapper {
    margin-top: 3em;
  }

  #searchbar-parent {
    display: block;

    #search_link {
      text-align: right;
      padding-right: 1em;
    }
  }
}

/* ------------------------
 *  BODY / CONTENT
 * ------------------------ */
#content-wrapper.container {
    padding: 2em 4em;
}

.main_content_area {
  background-color: #FFFFFF;
  padding: 20px;
}

.main-header {
  padding-bottom: 10px;
  margin-bottom: 10px;
  margin-top: 2px;

  p {
    margin-bottom: 0;
} }

/* Only in show pages ? */
.tdl-content {
  min-height: 400px;
}

/* Only contact page */
form.contact {
  margin: 3em 0;
}

/* ------------------------
 *  SEARCH RESULTS
 * ------------------------ */
#search-results .permissions-lock {
  margin-left: 5px;
}

/* ------------------------
 *  FORMS
 * ------------------------ */
form label {
  display: block;
  margin-bottom: 5px;
  font-weight: normal;
}

input, textarea {
  margin-bottom: 9px;
}

/* ------------------------
 *  FOOTER
 * ------------------------ */

.blue-footer {
  background-color: $tufts_blue;
  padding: 20px 20px 20px 40px;
  box-shadow: 0 50vh 0 50vh $tufts_blue; /* Extends the blue to bottom of page, if necessary */
  width: 100%;
}

#copyright {
  color: #ffffff;
}


/* ------------------------
 *  METADATA CONTENT
 * ------------------------ */
.metadatapane {
  dt {
    margin-top: 12px;
  }

  dd {
    margin-left: 15px;
  }

  .dl-horizontal dt {
    text-align: left;
    width: 110px;
    margin-top: 0;
  }

  .well {
    margin-top: 21px;

    p {
      margin-top: 12px;
} } }

/* -------------------
 * Permissions
 * ------------------- */
.permissions-lock {
  color: $tufts_blue;
}

/* ---------------------
 * Homepage
 * -------------------- */
.homepage-text {
  font-size: 22px;
  font-family: "Meta Serif", serif;
  width: 1000px;
  max-width: 90%;
  text-align: center;
  margin: 1em auto;
}

.homepage {
  #content-wrapper {
    padding: 0;
  }

  #search-form-header {
    width: 90%;
    max-width: 700px;
    margin: 5em auto 4em auto;

    .form-control, button {
      height: 45px;
      font-size: 18px;
    }

    .dropdown-toggle {
      display: none;
    }
  }
}

/* ---------------------
 * Featured Collections
 * -------------------- */
.featured_collections_header {
  font-size: 2em;
  font-family: "Meta Serif", serif;
  margin: 3em 0 1.5em 0;
  text-align: center;
}

.featured_collections {
  width: 100%;
}

.featured_collection {
  padding: 0 50px 30px 50px;
  perspective: 1000px;

  text-align: center;
  font-family: "Meta Serif", serif;


  .flipper {
    position: relative;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  &:hover .flipper {
    transform: rotateY(180deg);
  }

  .collection_title {
    font-size: 1.25em;
    color: $tufts_blue;
  }

  img {
    width: 100%;
  }

  .card_front, .card_back {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }

  .card_back {
    padding: 1.25em;
    background-color: #fff;
    border: 1px solid #000; /* Fallback if rgba isn't supported */
    border: 1px solid rgba(0, 0, 0, .25);
    transform: rotateY(180deg);
  }

  .btn-primary {
    background-color: $tufts-blue;
    margin-top: 2.5em;
  }
}

@media (max-width: 1200px) and (min-width: 992px) {
  .card_back {
    font-size: .8em;
  }
}
/* ----------------------
 * Shopping cart glph faces wrong
 * direction in this bootstrap verson
 * ----------------------- */
 .icon-flipped {
   transform: scaleX(-1);
   -moz-transform: scaleX(-1);
   -webkit-transform: scaleX(-1);
   -ms-transform: scaleX(-1);
 }

/* ---------------------
 * Devise Overrides
 * -------------------- */
.actions, .login {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* ---------------------
 * Static Collection Pages
 * -------------------- */

.image-masthead {
  display: none;
}

#static_thumbnail {
  text-align:center;
  overflow: hidden;
  margin-bottom: 10px;
}

#static_thumbnail li {
  width: 214px;
  font-size:small;
  float: left;
  left: -50%;
  position: relative;
  padding: 0;
  margin: 0;
}

#static_thumbnail ul {
  list-style: none;
  padding: 0;
  margin: 0;
  float: left;
  left: 50%;
  position: relative;
  text-align: center;
}

#static_thumbnail div.thumbnail {
  margin-bottom: 0;
}
