<ul class="util-nav tdl-right-nav">
  <li>
    <%= link_to(
      '#',
      data: { toggle: "modal", target: "#aeon-cart-modal" },
      class: "item-option",
      role: 'menuitem'
    ) do %>
    My List (<span id="list_num">0</span>)
    <span class="icon-flipped glyphicon glyphicon-shopping-cart glyph-left" aria-hidden="true"></span>
    <% end %>
  </li>
  <li>
    <% if has_user_authentication_provider? %>
      <% if current_user %>
        <%= link_to t('blacklight.header_links.logout'), main_app.destroy_user_session_path %> <%= "[#{ current_user.to_s }]".html_safe unless current_user.to_s.blank? %>
      <% else %>
        <%= link_to t('blacklight.header_links.login'), main_app.new_user_session_path %>
      <% end %>
    <% end %>
  </li>
</ul>
